{% extends 'base.html' %}
{% block content %}
<h1>Filter Task</h1>

<form id="filter-form">
    
    <label for="category"> Category:</label>
    <input type="text" id="category" name="category">

    <label for="due_date"> Due Date:</label>
    <input type="date" id="due_date" name="due_date">

    <label for="priority"> Priority:</label>
    <select name="priority" id="priority">
        <option value="">--Select Priority--</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <button type="submit">Filter</button>
</form>

{% endblock %}