{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto  py-8 bg-white m-4 ">

<form action="{% url 'search_tasks' %}"  method="get">
    
    
            <input name="q"  type="text" placeholder="Search tasks" class="w-36 box-border m-3.5 border-2 border-solid border-indigo-200
            rounded bg-gray-300 pt-3 pr-5 pb-3 pl-10 ">

  </form>




    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold"> Tasky Dashboard</h1>
        <button class="bg-blue-500 text-white px-4 m-3.5 py-2 rounded"><a href="{% url 'create_task' %}">+Add Task</a></button>
    </div>
    <div class="flex space-x-4 taskList">
        <div class="w-1/3" id="task-list">
            <h2 class="border-solid border-2 border-gray-500 p-1 m-1 text-xl font-semibold mb-4"> In Progress <span>{{progress_count}}</span></h2>
            
            <div class="space-y-4" id="progress_tasks">
                    
                {% for task in progress %}
                {% include 'fetch_task.html' with task=task %}
                
                
                {% endfor %}
            </div>
        </div>
        
        
        <div class="w-1/3">
            <h2 class="border-solid border-2 border-green-500 p-1 m-1 text-xl font-semibold mb-4"> Completed <span>{{completed_count}}</span></h2>
            <div class="space-y-4" id="completed_tasks">
                {% for task in completed %}
                {% include 'fetch_task.html' with task=task %}
                {% endfor %}
            </div>
        </div>
        
        
        <div class="w-1/3">
            <h2 class="border-solid border-2 border-red-500 p-1 m-1 text-xl font-semibold mb-4"> Overdue <span>{{ overdue_count}}</span></h2>
            <div class="space-y-4" id="overdue_tasks">
                {% for task in overdue %}
                {% include 'fetch_task.html' with task=task %}
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<script>
    // Function to fetch tasks based on status, category, due date, and priority
    function fetchTasks(status) {
        $.ajax({
            url: `fetch_task/${status}`,  // URL to fetch tasks for a specific status
            
            success: function(data) {
                // On successful AJAX request, update tasks container and log data
                $(`#${status}_tasks`).html(data);  // Update HTML content with fetched tasks
                console.log(`Tasks for ${status}:`, data);  // Log fetched tasks data to console
            },
            error: function(xhr, status, error) {
                // On AJAX request error, log error details
                console.error('Error fetching tasks:', status, error);
            },
        });
        // Fetch tasks for each status with current filter values
        fetchTasks('progress');  // Fetch tasks in progress
     
        fetchTasks('completed');  // Fetch completed tasks
        fetchTasks('overdue');  // Fetch overdue tasks
    }

    
    // Set interval to automatically fetch filtered tasks every 5 seconds
    setInterval(fetchTasks, 5000);
</script>


{% endblock %}